<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hitu-online</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="icon" href="/assets/img/hitu.png">
</head>

<body>
<div class="container">
    <center>
        <h1>HITU ONLINE</h1>
    </center>
    <form style="padding: 100px;">
        <div class="form-group">
            <input name="id" type="text" id="id" class="form-control" placeholder="输入您的手机或导游证" required="" autofocus="">
        </div>
        <div class="form-group">
            <input name="pw" type="password" id="pw" class="form-control" placeholder="输入您的密码" required="">
        </div>
        <input type="submit" class="btn btn-success btn-block" value="登录" onclick="return login()">
    </form>
</div>

<!-- 模态框 -->
<div class="modal fade" id="show_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="model_title">提示</h5>
            </div>
            <div class="modal-body">
                <p id="model_data">这是一条提示内容</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- 登录js -->
<script src="/assets/js/login.js"></script>

</html>