body {
    background-color: #eeeeee;
}
.form-signin {
    max-width: 330px;
    padding: 2px;
    margin: 0 auto;
}
#content {
    background-color: #FFF;
    border-radius: 5px;
}
#content .main {
    padding: 20px;
}
#content .sidebar {
    padding: 20px;
}
#content p {
    line-height: 30px;
}